$top-color1: #070707;
$top-color2: #828282;
$top-font1: Gilroy-Bold;
$top-font2: Gilroy-Medium;
$width: 62%;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}



@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

#root1--Denis {
    width: 100%;
    background-color: #ffff;
}

.header {
    width: 62%;
    height: 12.6vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-bottom: 1.5px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);

}

.navbar {
    width: 100%;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    a {
        text-decoration: none;
        font-family: Gilroy-Bold;
        font-size: 18px;
        line-height: 22px;
        color: #828282;
        transition: all .7s ease;

        &:hover {
            color: #070707;
        }
    }
}

.heading {
    width: $width;
    margin: 0 auto;
    display: flex;
}

h1 {
    padding-top: 3.5%;
    font-family: $top-font1;
    font-size: 47.3392px;
    line-height: 59px;
    color: $top-color1;
}

.h3 {
    font-family: $top-font2;
    font-size: 18px;
    line-height: 22px;
    color: $top-color1;
    padding-left: 31.6%;
    padding-top: 10%;
}

.background--photo {
    padding-top: 2.65%;
    width: $width;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.root2--about {
    margin-top: 6.5%;
    width: 100%;
    min-height: 506px;
    background-color: #F6F6F6;
}

.h2 {
    padding-top: 7.5%;
    /*7.5%; */
    font-family: $top-font1;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: $top-color1;
}

.p--1 {
    padding-top: 23px;
    /*  1.6%; */
    margin: 0 auto;
    max-width: 33.5%;
    font-family: $top-font2;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $top-color1;
}

.root3--skills {
    width: 100%;
    background-color: #ffff;
}

.h2--2 {
    padding-top: 5.5%;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.h3--2 {
    padding-top: 3.8%;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.programs--grid {
    padding-top: 5.9%;
    width: $width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 9.57%;

}

.ps {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.h4--1 {
    padding-top: 12%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.stars {
    display: flex;
    justify-content: space-between;
    padding-top: 23%;
}

.ai {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.ae {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.fg {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.h4--4 {
    padding-top: 13%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.stars--1 {
    display: flex;
    justify-content: space-between;
    padding-top: 34%;
}

.root4--portfolio {
    margin-top: 7.4%;
    width: 100%;
    background-color: #F6F6F6;
    min-height: 2253px;
}

.h2--portfolio {
    padding-top: 7%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.portfolio--levis {
    padding-top: 3.6%;
    width: $width;
    margin: 0 auto;
}

.photo--levis {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--levis {
    padding-top: 2.2%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio--reebok {
    padding-top: 6.8%;
    width: $width;
    margin: 0 auto;
}

.photo--reebok {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--reebor {
    padding-top: 2.3%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio--Braun {
    padding-top: 6.8%;
    width: $width;
    margin: 0 auto;
}

.photo--braun{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--braun{
    padding-top: 2.3%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}