@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/gilroy-medium.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg");
  /* Chrome < 4, Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
}

#root1--Denis {
  width: 100%;
  background-color: #ffff;
}

.header {
  width: 62%;
  height: 12.6vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-bottom: 1.5px solid #828282;
  transform: matrix(1, 0, 0, 1, 0, 0);
}

.navbar {
  width: 100%;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: #828282;
  transition: all .7s ease;
}
.navbar a:hover {
  color: #070707;
}

.heading {
  width: 62%;
  margin: 0 auto;
  display: flex;
}

h1 {
  padding-top: 3.5%;
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
  color: #070707;
}

.h3 {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  color: #070707;
  padding-left: 31.6%;
  padding-top: 10%;
}

.background--photo {
  padding-top: 2.65%;
  width: 62%;
  margin: 0 auto;
}
.background--photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.root2--about {
  margin-top: 6.5%;
  width: 100%;
  min-height: 506px;
  background-color: #F6F6F6;
}

.h2 {
  padding-top: 115px;
  /*7.5%; */
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}

.p--1 {
  padding-top: 23px;
  /*  1.6%; */
  margin: 0 auto;
  max-width: 33.5%;
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}

.root3--skills {
  width: 100%;
  background-color: #ffff;
}

.h2--2 {
  padding-top: 5.5%;
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  color: #070707;
}
