$top-color1: #070707;
$top-color2: #828282;
$top-font1: Gilroy-Bold;
$top-font2: Gilroy-Medium;
$width: 940px;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/gilroy-bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-bold.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-bold.svg#gilroy-bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}



@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/gilroy-medium.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/gilroy-medium.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/gilroy-medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg');
    /* Chrome < 4, Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

#scrollTop{
    width: 30px;
    height: 30px;
    display: none;
}

.btnUP{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s;
    &:hover{
        transform: scale(1.1);
    }
}
.showBtn{
    opacity: 1;
    transition: .2s;
}
.showBtn_hide{
    opacity: 0;
}
.header {
    width: 100%;
    margin: 0 auto;
    background-color: #FFFFFF;
    transition: all .7s;
}

.header--fixed {
    z-index: 1000;
    position: fixed;
    top: -100%;
    width: 100%;
    box-shadow: 0px -20px 26px #070707;
}

.header-show {
    top: 0;
}

/*
.header_fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    animation-name: showheader;
    animation-duration: .5s;
    box-shadow: 0px -20px 26px #070707;
}

@keyframes showheader {
    0% {
        opacity: 0;
        top: -80px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

*/
.header_content {
    width: 100%;
    background-color: #FFFFFF;
    transition: all .4s;
}

.header_wrapper {
    height: 60px;
    width: $width;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.navbar {
    width: 100%;
}

.ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav_link {
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    transition: all .7s ease;

    &:hover {
        color: #070707;
    }
}

.root1--Denis {
    width: 100%;
    background-color: #ffff;
}

.heading {
    width: $width;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}

h1 {
    padding-top: 3.5%;
    font-family: $top-font1;
    font-size: 47.3392px;
    line-height: 59px;
    color: $top-color1;
}

.h3 {
    font-family: $top-font2;
    font-size: 18px;
    line-height: 22px;
    color: $top-color1;
    padding-left: 31.6%;
    padding-bottom: 1%;
}

.background--photo {
    padding-top: 2.65%;
    width: $width;
    margin: 0 auto;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.background--miniphoto {
    display: none;
}

.root2--about {
    margin-top: 6.5%;
    width: 100%;
    min-height: 506px;
    background-color: #F6F6F6;
}

.h2 {
    padding-top: 7.5%;
    /*7.5%; */
    font-family: $top-font1;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: $top-color1;
}

.p--1 {
    padding-top: 23px;
    /*  1.6%; */
    margin: 0 auto;
    width: 485px;
    font-family: $top-font2;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $top-color1;
}

.root3--skills {
    width: 100%;
    background-color: #ffff;
}

.h2--2 {
    padding-top: 5.5%;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.h3--2 {
    padding-top: 3.8%;
    text-align: center;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}

.programs--grid {
    padding-top: 5.9%;
    width: $width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 9.57%;

}

.ps {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.h4--1 {
    padding-top: 12%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.stars {
    display: flex;
    justify-content: space-between;
    padding-top: 23%;
}

.ai {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.ae {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.fg {
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.h4--4 {
    padding-top: 13%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}

.stars--1 {
    display: flex;
    justify-content: space-between;
    padding-top: 34%;
}

.root4--portfolio {
    margin-top: 7.4%;
    width: 100%;
    background-color: #F6F6F6;
    min-height: 50%;
}

.h2--portfolio {
    padding-top: 7%;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    color: #070707;
}

.portfolio--levis {
    padding-top: 3.6%;
    width: $width;
    margin: 0 auto;
}

.photo--levis {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--levis {
    padding-top: 2.2%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio--reebok {
    padding-top: 6.8%;
    width: $width;
    margin: 0 auto;
}

.photo--reebok {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--reebor {
    padding-top: 2.3%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.portfolio--Braun {
    padding-top: 6.8%;
    width: $width;
    margin: 0 auto;
}

.photo--braun {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h3--braun {
    padding-top: 2.3%;
    padding-bottom: 6.5%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.root5--contactas {
    min-height: 622px;
}

.h2--contacts {
    padding-top: 7%;
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}

.h3--3 {
    padding-top: 1.7%;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $top-color1;
}

.button {
    padding-top: 4.2%;
    width: 180px;
    height: 42px;
    margin: 0 auto;


    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #070707;
        border-radius: 100px;
        text-decoration: none;
        font-family: Gilroy-Bold;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        transition: .4s ease;
    }

    a:hover {
        transform: scale(1.1);
    }
}

.contacts--icons {
    padding-top: 5.5%;
    width: 345px;
    /*23%;*/
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.icons {
    object-fit: cover;
    transition: all .5s ease;
}

.icons:hover {
    transform: scale(1.2);
}

.likeon {
    padding-top: 2.5%;
    padding-bottom: 5.5%;
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}

.header_burger {
    display: none;
}

@media screen and (max-width: 980px) {
    .header_wrapper {
        height: 80px;
        width: 920px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 940px) {

    .header_wrapper {
        width: 97%;
    }

    .heading {
        width: 100%;
        align-items: flex-end;
    }

    .h1 {
        padding-left: 3%;
    }



    .background--photo {
        width: 93%;
    }

    .portfolio--levis {
        width: 100%;
    }

    .portfolio--reebok {
        width: 100%;
    }

    .portfolio--Braun {
        width: 100%;
    }

    .programs--grid {
        padding-top: 5.9%;
        width: 466px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 26.57%;
        min-height: 610px;
    }

    .stars--1 {
        display: flex;
        justify-content: space-between;
        padding-top: 31%;
    }

    @media screen and (max-width: 768px) {

        #scrollTop{
            position: fixed;
            display: block;
            bottom: 1vh;
            right: 30px;
        }

        body.lock {
            overflow: hidden;
        }

        .header {
            height: 33px;
        }

        .header_wrapper {
            height: 0;
        }

        .header_burger {
            position: relative;
            display: block;
            width: 33px;
            height: 27px;
            z-index: 3000;
            margin-top: 30px;
            margin-left: 90%;
        }

        .header_burger.active {
            right: 8%;
            position: fixed;
        }

        .header_burger::before,
        .header_burger::after {
            content: "";
            width: 100%;
            height: 4px;
            position: absolute;
            background-color: black;
            left: 0;
            transition: all .5s ease;
        }

        .header_burger span {
            position: absolute;
            background-color: black;
            width: 100%;
            height: 4px;
            top: 45%;
            left: 0;
        }

        .header_burger::before {
            top: 0;
        }

        .header_burger::after {
            bottom: 0;
        }

        .navbar {
            overflow: auto;
            position: fixed;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            transition: all .5s ease;
        }

        .navbar.active {
            left: 0;
        }

        .ul {
            display: block;
            padding-left: 28px;
            padding-top: 66px;
        }

        .li {
            padding-top: 68px;
        }

        .li:first-child {
            padding-top: 0px;
        }

        .nav_link {
            font-size: 34px;
        }

        .header_burger.active::before {
            transform: rotate(45deg);
            top: 12px;
        }

        .header_burger.active::after {
            transform: rotate(-45deg);
            bottom: 10px;
        }

        .header_burger.active span {
            transform: scale(0);
            transition: all .5s ease;
        }

        .heading {
            display: block
        }

        .h1 {
            padding-top: 0%;
            padding-left: 4%;
        }

        .h3 {
            padding-top: 2%;
            padding-left: 4%;
        }

        .background--photo {
            padding-top: 6.65%;
        }

        @media screen and (max-width: 485px) {

            .h1 {
                padding-top: 0%;
                padding-left: 7%;
                font-family: $top-font1;
                font-size: 47px;
                line-height: 59px;
                color: $top-color1;
            }

            .h3 {
                padding-top: 5%;
                padding-left: 8%;
                font-family: Gilroy-Medium;
                font-size: 18px;
                line-height: 22px;
                color: #090909;
            }

            .background--photo {
                display: none;
            }

            .background--miniphoto {
                display: block;
                margin: 0 auto;
                width: 84%;
                padding-top: 12%;
            }

            .mini {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .h2 {
                padding-top: 22.5%;
            }

            .p--1 {
                width: 316px;
            }

            .programs--grid {
                padding-top: 5.9%;
                width: 100%;
                margin: 0 auto;
                display: block;
                min-height: 1002px;
            }

            .h2--2 {
                padding-top: 16.5%;
            }

            .h3--2 {
                padding-top: 10.8%;
                text-align: center;
                font-family: Gilroy-Medium;
                font-size: 18px;
                line-height: 22px;
                color: #070707;
            }

            .programs--grid {
                padding-top: 21.9%;
            }

            .h4--1 {
                padding-top: 7%;
            }

            .stars {
                width: 166px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding-top: 10%;
            }

            .adobe-illustrator {
                padding-top: 22%;
            }

            .abode-after-effects {
                padding-top: 22%;
            }

            .figma {
                padding-top: 22%;
            }

            .stars--1 {
                width: 166px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                padding-top: 10%;
            }

            .root4--portfolio {
                min-height: 1118px;
            }

            .h2--portfolio {
                padding-top: 81px;
            }

            .portfolio--levis {
                padding-top: 64px;
            }

            .h3--levis {
                padding-top: 33px;
            }

            .portfolio--reebok {
                padding-top: 77px;
            }

            .h3--reebor {
                padding-top: 33px;
            }

            .portfolio--Braun {
                padding-top: 77px;
            }

            .h3--braun {
                padding-top: 33px;
                padding-bottom: 87px;
            }

            .h2--contacts {
                padding-top: 82px;
            }

            .h3--3 {
                padding-top: 27px;
            }

            .button {
                width: 185px;
                padding-top: 39px;
            }

            .contacts--icons {
                padding-top: 48px;
            }

            .likeon {
                padding-top: 49px;
            }

            .root5--contactas {
                min-height: 585px;
            }

            @media screen and (max-width:426px) {
                .header {
                    width: 87%;
                }
            }

            @media screen and (max-width: 320px) {

                .contacts--icons {
                    width: 300px;
                }

            }
        }

    }

}